@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the gym manager!</p>
    <br />
    <p>Enjoy the app for management of your staff, member, store supplements and group trainings.</p>
</div>