@model GroupTraining

<h1>Edit Training</h1>

<form asp-action="Edit">
    <div class="form-group">
        <label>Date</label>
        <input type="text" class="form-control" placeholder="Enter date" name="Date" value="@Model.Date">
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
    <a asp-action="Index">
        <button type="button" class="btn btn-secondary">Cancel</button>
    </a>
</form>