@model GroupTraining

<h1>Edit Training</h1>

<form asp-action="Edit">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Enter name" name="name" value="@Model.Name">
    </div>
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Enter date" name="name" value="@Model.Date">
    </div>
    <div class="form-group">
        <label>Phone Number</label>
        <input type="number" class="form-control" placeholder="Enter time" name="number" value="@Model.Duration">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" placeholder="Enter trainer" name="email" value="@Model.TrainerName">
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
    <a asp-action="Index">
        <button type="button" class="btn btn-secondary">Cancel</button>
    </a>
</form>